body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
}

a:hover {
	cursor: pointer;
}

.header-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: rgb(64, 62, 62);
	padding-left: 12px;
}

.header-container > a,
.dropdown {
	padding: 13px 14px;
}

.header-container > a > i,
.dropbtn > i {
	color: white;
	font-size: 18px;
}

#header {
	display: inline;
	color: rgb(244, 242, 242);
	font-weight: 600;
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
}

#input-text,
#select-menu-text {
	margin-left: auto;
	color: rgb(244, 242, 242);
	font-weight: 600;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}

#select-menu-text {
	margin-left: 10px;
	color: rgb(244, 242, 242);
	font-weight: 600;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}

#input,
#select-menu {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	margin-left: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #f1f1f1;
	padding: 2px 4px;
	color: #333;
	font-size: 12px;
}

#select-menu > option {
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
}

#search {
	margin-left: 20px;
}

.editor-container {
	display: flex;
	position: relative;
	flex-direction: row;
	margin: auto;
	height: calc(100% - 47px); /* Adjusted height calculation */
}

#editor-container-left,
#editor-container-right {
	width: 50%;
	height: 100%;
}

#editor {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	font-size: 15px;
}

#dragline {
	cursor: ew-resize;
	background-color: #ccc;
	width: 7px;
	height: 100%;
}

#output {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 20px;
}
